# Ignore node modules folder
node_modules/
 

# Ignore logs
logs
*.log
npm-debug.log*
 
# Ignore OS files
.DS_Store
Thumbs.db
 
# Ignore environment files
.env
 

# Ignore package files to avoid conflicts (as per our agreement)
package.json
package-lock.json