/* General style*/
body {
    font-family: 'Inter', sans-serif;
    background: #E5E8EA;
    margin: 0;
    color: #1A1A1A;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Header */
.main-header {
    background: #313886;
    padding: 16px 0;
    color: white;
    box-shadow: 0 2px 5px #0000001a;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 100px;
}

/* Navigation bar */
.main-nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
}

.main-nav a:hover {
    color: #67AADC;
    text-decoration: none;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 3px;
}
.main-footer {
    background: #878CB6;
    padding: 20px 0;
    text-align: center;
    color: white;
    margin-top: 90px;
}
/*____________________________________________________________________________*/
.main-container {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem auto;
    max-width: 600px;
    box-shadow: 0 4px 8px #0000000d;
}

.main-container h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #313886;
    text-align: center;
}

.main-container p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
}

.event-radio-group, .first-name, .last-name, .email-class, .dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem; 
}

.event-radio-group p {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    margin-bottom: 0;
    font-weight: 600;
    color: #222;
}

.first-name label, .last-name label, .email-class label, .dropdown label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

form input,
form textarea,
form select {
    padding: 0.7rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border 0.3s;
}

form input:focus,
form textarea:focus,
form select:focus {
    border-color: #313886;
    outline: none;
}
.event-radio-group .radio-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 1.5rem;     
    justify-content: center;
}

input[type="radio"],textarea,select {
    outline: none;
}
input[type="radio"] {
    width: 20px;
    height: 20px;
    accent-color: #3A5AE0; 
    cursor: pointer;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    border: none;
    outline: none;
    box-shadow: none;
}

.submit-button{
    margin-top: 1rem;
    width: 100%;
    background-color: #313886;
    color: #fff;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.submit-button:hover{
    background-color: #5058c0;
}

.error-message {
				color: red;
				font-style: italic;
}
/*---------------------------------------------------------------------------*/
.table {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem auto;
    max-width: 600px;
    box-shadow: 0 4px 8px #0000000d;
    align-items: center;
}

.table h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #313886;
    text-align: center;
}

.table table{
    width: 100%;
    border-collapse: collapse;

}
.table th, .table td{
    padding: 0.5rem 1re,;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1rem;
}
.table tbody tr:hover {
    background-color: #ccc;
}

.table td button.delete-btn {
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 5px;
    background-color: #313886;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.table td button.delete-btn:hover {
    background-color: #5058c0;
}
/*____________________________________________________________________________*/
/* Responsive mobile */

@media (max-width: 900px) {
    .features {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .main-nav {
        display: none;
        background: #313886;
        position: absolute;
        right: 0;
        top: 70px;
        width: 200px;
        padding: 20px;
        border-radius: 0 0 0 16px;
    }

    .main-nav.open {
        display: block;
    }

    .main-nav ul {
        flex-direction: column;
        gap: 20px;
    }

    .hamburger {
        display: flex;
    }
     .table {
        padding: 1rem;
        max-width: 95%;
    }

    .table th, .table td {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .table td button.delete-btn {
        padding: 0.3rem 0.6rem;
        font-size: 0.85rem;
    }
}


@media (max-width: 768px) {
    .feature-card img {
        aspect-ratio: 3 / 3;
    }
}


